*{
    font-family: "IRANSans", Helvetica Neue, Helvetica, Arial, sans-serif;
}
.width-10 {
    width: 10px;
}

.width-20 {
    width: 20px;
}

.width-50 {
    width: 50px;
}

.width-90 {
    width: 90px;
}

.width-100 {
    width: 100px;
}

.width-120 {
    width: 120px;
}

.width-140 {
    width: 140px;
}

.width-240 {
    width: 240px;
}

.width-260 {
    width: 260px;
}

.width-280 {
    width: 280px;
}

.width-300 {
    width: 300px;
}

.width-320 {
    width: 320px;
}

.smaller-70 {
    font-size: 70%;
}

.smaller-80 {
    font-size: 80%;
}

.smaller-90 {
    font-size: 90%;
}

.bigger-110 {
    font-size: 110%;
}

.bigger-120 {
    font-size: 120%;
}

.bigger-130 {
    font-size: 130%;
}

.bigger-140 {
    font-size: 140%;
}


.margin-top-10 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-top-40 {
    margin-top: 4px;
}

.margin-top-45 {
    margin-top: 45px;
}

.margin-top-50 {
    margin-top: 50px;
}

.hr {
    display: block;
    height: 0;
    overflow: hidden;
    font-size: 0;
    border-width: 1px 0 0 0;
    border-top: 1px solid #E3E3E3;
    margin: 12px 0;
    border-top-color: rgba(0, 0, 0, 0.11);
}

.hr-double {
    height: 3px;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    border-top-color: rgba(0, 0, 0, 0.11);
    border-bottom-color: rgba(0, 0, 0, 0.11);
}

.hr.dotted,
.hr-dotted {
    border-style: dotted;
}

.hr-32,
.hr32 {
    margin: 32px 0;
}

.hr-30,
.hr30 {
    margin: 30px 0;
}

.hr-28,
.hr28 {
    margin: 28px 0;
}

.hr-26,
.hr26 {
    margin: 26px 0;
}

.hr-24,
.hr24 {
    margin: 24px 0;
}

.hr-22,
.hr22 {
    margin: 22px 0;
}

.hr-20,
.hr20 {
    margin: 20px 0;
}

.hr-18,
.hr18 {
    margin: 18px 0;
}

.hr-16,
.hr16 {
    margin: 16px 0;
}

.hr-14,
.hr14 {
    margin: 14px 0;
}

.hr-12,
.hr12 {
    margin: 12px 0;
}

.hr-10,
.hr10 {
    margin: 10px 0;
}

.hr-8,
.hr8 {
    margin: 8px 0;
}

.hr-6,
.hr6 {
    margin: 6px 0;
}

.hr-4,
.hr4 {
    margin: 4px 0;
}

.hr-2,
.hr2 {
    margin: 2px 0;
}

.space {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
}

[class*="vspace-"] {
    display: none;
}

.space-32 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 32px 0 31px;
}

[class*="vspace-32"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 32px 0 31px 0;
}

.space-30 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 30px 0 29px;
}

[class*="vspace-30"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 30px 0 29px 0;
}

.space-28 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 28px 0 27px;
}

[class*="vspace-28"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 28px 0 27px 0;
}

.space-26 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 26px 0 25px;
}

[class*="vspace-26"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 26px 0 25px 0;
}

.space-24 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 24px 0 23px;
}

[class*="vspace-24"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 24px 0 23px 0;
}

.space-22 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 22px 0 21px;
}

[class*="vspace-22"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 22px 0 21px 0;
}

.space-20 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 20px 0 19px;
}

[class*="vspace-20"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 20px 0 19px 0;
}

.space-18 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 18px 0 17px;
}

[class*="vspace-18"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 18px 0 17px 0;
}

.space-16 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 16px 0 15px;
}

[class*="vspace-16"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 16px 0 15px 0;
}

.space-14 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 14px 0 13px;
}

[class*="vspace-14"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 14px 0 13px 0;
}

.space-12 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 12px 0 11px;
}

[class*="vspace-12"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 12px 0 11px 0;
}

.space-10 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 10px 0 9px;
}

[class*="vspace-10"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 10px 0 9px 0;
}

.space-8 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 8px 0 7px;
}

[class*="vspace-8"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 8px 0 7px 0;
}

.space-6 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 6px 0 5px;
}

[class*="vspace-6"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 6px 0 5px 0;
}

.space-4 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 4px 0 3px;
}

[class*="vspace-4"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 4px 0 3px 0;
}

.space-2 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 2px 0 1px;
}

[class*="vspace-2"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 2px 0 1px 0;
}

.space-0,
[class*="vspace-0"] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 0;
}
.error_msg{
    color: red;
}
.input_with_validation_error{
    border: 1px solid red;
}
.background_loader{
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 320px;
    height: 320px;
    position: static;
    cursor: default;
    opacity: 1;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
    background: -moz-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), -moz-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
    background: linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
    background-position: 0 0, 40px 40px;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 80px 80px;
    background-size: 80px 80px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}
/* Center the loader */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    /* width: 150px;
     height: 150px;*/
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader_2{
    /*margin: 100px auto;*/
    position: absolute;
    background-color: #eeeeee;
    width: 140px;
    height: 140px;
    left: 50%;
    top: 50%;
    margin: -85px 0 0 -85px;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
      }
}

.jsPanel{
    z-index: 2000;
}
.jsPanel-titlebar h3
{
    margin-right: 25px;
    font-family: "IRANSans",tahoma;
}

.sweet-overlay
{
    z-index: 2000;
}
.sweet-alert
{
    z-index: 2001!important;
}

.rtl
{
    direction: rtl;
}

.ltr{
    direction: ltr;
}
.clearfixed{
    clear: both;
}